@font-face {
  font-family: 'Aileron-Regular';
  src: local('Aileron-Regular'), url('./font/Aileron-Regular.otf') format('otf');
}

:root {
  --primary-color-dark: #191919;
  --primary-color-bright: #e7e7e7;
}

body {
  background: var(--primary-color-dark);
  font-family: 'Aileron-Regular';
  background: linear-gradient(
    90deg,
    rgba(25, 25, 25, 1) 0%,
    rgba(25, 25, 25, 1) 47%,
    rgba(231, 231, 231, 1) 47%,
    rgba(231, 231, 231, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.mb50 {
  margin-bottom: 50px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb150 {
  margin-bottom: 150px;
}

.mb200 {
  margin-bottom: 200px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb100 {
  padding-bottom: 100px;
}

.pb150 {
  padding-bottom: 150px;
}

.pb200 {
  padding-bottom: 200px;
}

input,
textarea {
  background: #afafaf;
  border: 1px solid #737373;
}

label {
  margin-bottom: 5px;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

button {
  background: var(--primary-color-bright);
  border: 1px solid var(--primary-color-dark);
  color: var(--primary-color-dark);
  padding: 10px 10px;
  transition: all 0.3s linear;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

button:hover {
  background: var(--primary-color-dark);
  border: 1px solid var(--primary-color-bright);
  color: var(--primary-color-bright);
  background: var(--primary-color-dark);
  border: 1px solid var(--primary-color-bright);
  color: var(--primary-color-bright);
  padding: 10px 30px;
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
}

ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul > li {
  margin-right: 15px;
  list-style: none;
  margin-bottom: 20px;
  text-transform: uppercase;
}
ul > li:last-child {
  margin-bottom: 0px;
}

#sidebar {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  color: white;
}

.logo {
  color: var(--primary-color-bright);
  text-decoration: none;
}

#navbar {
  background: var(--primary-color-dark);
  color: var(--primary-color-bright);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#navbar > ul {
  text-align: right;
}
#navbar > ul > li > a {
  color: var(--primary-color-bright);
  text-decoration: none;
}
#navbar > ul > li > a:visited {
  color: var(--primary-color-bright);
  text-decoration: none;
}

.nav-lines {
  display: none;
}

.slide-nav {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
}
.slide-nav:hover {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
}

.page {
  display: flex;
  justify-content: center;
  text-align: justify;
  height: 100vh;
  background: var(--primary-color-bright);
  color: var(--primary-color-dark);
  flex-direction: column;
}

#about {
  padding: 0px 120px;
  text-justify: justify;
  line-height: 1.7;
}

#about-img {
  float: left;
  height: 400px;
  margin-right: 20px;
}

#running-text > div {
  display: inline;
}

.center {
  align-items: center;
}
.portfolio-showcase {
  position: relative;
  margin: 0 auto;
}

.portfolio-description {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  height: 400px;
}

.portfolio-details {
  display: grid;
  grid-template-columns: 280px 520px;
  height: 400;
  margin-left: 100px;
}

.portfolio-title {
  display: grid;
  grid-template-columns: 280px 520px;
  margin-bottom: 40px;
  margin-left: 100px;
  text-align: center;
}
.portfolio-title > h1 {
  margin-left: 100px;
}
.portfolio-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-right: 50px;
}

.swiper {
  animation: swipe 0.8s;
  animation-iteration-count: 3;
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

@keyframes swipe {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--primary-color-bright);
  transition: margin-top 0.5s ease-out;
  animation-direction: reverse;
}
.nav-item {
  transition: all 0.5s;
}
.active {
  font-size: 20px;
  transition: all 0.5s;
}

#main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 6fr;
  margin: 0 auto;
  max-width: 1100px;
}

#line {
  animation: line 2s;
  display: none;
}

.disable-drag {
  -webkit-user-drag: none;
}

@keyframes line {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-slider {
  display: none;
  z-index: 2;
}

#transition {
  position: relative;
  height: 100%;
  animation: transition 0.8s ease-out;
  animation-fill-mode: forwards;
  background: var(--primary-color-dark);
}

@keyframes transition {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.stack-icons > img {
  margin-right: 10px;
}

.stack-icons > img:last-child {
  margin-right: 0;
}

@media (min-width: 769px) and (max-width: 1200px) {
  body {
    background: var(--primary-color-bright);
  }

  #about {
    padding: 0 30px;
  }

  #main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
  }
  #navbar {
    color: var(--primary-color-bright);
  }

  #navbar > ul > li > a {
    color: var(--primary-color-bright);
    text-decoration: none;
  }

  #navbar > ul > li > a:visited {
    color: var(--primary-color-bright);
    text-decoration: none;
  }
  #navbar > ul {
    display: flex;
    flex-direction: row;
    height: 80px;
  }

  #navbar > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile-nav {
    position: absolute;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: var(--primary-color-dark);
  }

  #sidebar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: var(--primary-color-bright);
    display: flex;
    align-items: center;
    z-index: 2;
    height: 80px;
  }

  .nav-arrow {
    display: none;
  }
  .nav-slider {
    display: none;
  }
  ul > li {
    margin: 0 10px;
    list-style: none;
    text-transform: uppercase;
  }
  #about {
    padding: 0 130px;
  }

  #about > h1 {
    font-size: 1.5rem;
  }

  .portfolio-showcase {
    position: relative;
    margin: 0;
  }

  .portfolio-description {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    height: 400px;
  }

  .portfolio-details {
    display: grid;
    grid-template-columns: 280px 420px;
    align-content: space-between;
    justify-content: space-around;
    margin: 0;
  }
  .portfolio-title {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .mb50 {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  body {
    background: var(--primary-color-bright);
  }

  #about {
    padding: 0 30px;
  }

  #about-img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 0 100%;
    margin-bottom: 20px;
  }

  #about > h1 {
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 24px;
  }

  #main {
    display: flex;
    height: 100vh;
  }

  #sidebar {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    flex-direction: row;
    color: var(--primary-color-bright);
    align-items: center;
    z-index: 2;
    height: 60px;
  }
  #sidebar > * {
    padding: 15px 0;
  }

  #main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
  }
  #navbar {
    display: none;
  }

  #navbar > ul > li > a {
    color: var(--primary-color-bright);
    text-decoration: none;
  }

  #navbar > ul > li > a:visited {
    color: var(--primary-color-bright);
    text-decoration: none;
  }
  #navbar > ul {
    display: flex;
    flex-direction: row;
    height: 80px;
  }

  #navbar > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile-nav {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: var(--primary-color-dark);
  }

  .nav-arrow {
    display: none;
  }

  .nav-lines {
    display: initial;
  }

  .nav-slider {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 130px;
    background-color: var(--primary-color-dark);
  }
  .nav-slider > #navbar {
    display: block;
  }
  .nav-slider > #navbar > ul {
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
  }
  .nav-slider > #navbar > ul > li {
    color: var(--primary-color-bright);
    font-size: 18px;
    margin-bottom: 30px;
    margin-right: 0px;
    text-align: center;
  }
  .nav-slider > span {
    position: absolute;
    top: 15px;
    right: 30px;
  }

  .portfolio-title {
    display: initial;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .portfolio-title > h1 {
    margin-left: 0px;
  }

  .portfolio-details {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .portfolio-description {
    margin: 0;
    height: 350px;
  }
  .page {
    height: auto;
    margin-top: 30px;
  }
  #logistics {
    margin-bottom: 100px;
  }
  .portfolio-description > div > p {
    padding: 0px 15px;
  }
  .portfolio-nav {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    justify-content: center;
  }
}

@media (max-width: 950px) {
  #running-text {
    text-align: center;
  }
  #running-text > div {
    display: block;
  }
}
