@font-face {
    font-family: 'aileronthin';
    src: url('./font/Aileron-Thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



:root {
  --primary-color-dark: #191919;
  --primary-color-bright: #e7e7e7;
}

body {
  background: var(--primary-color-dark);
  font-family: 'Aileron-Regular';
  background: linear-gradient(
    90deg,
    rgba(25, 25, 25, 1) 0%,
    rgba(25, 25, 25, 1) 47%,
    rgba(231, 231, 231, 1) 47%,
    rgba(231, 231, 231, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  height: 30px;
}

input,
textarea {
  background: #e3e3e3;
  border: 1px solid #b2b2b2;
}

input:focus,
textarea:focus {
  outline: none !important;
  border-color: #9a9a9a;
  box-shadow: 0 0 10px #9a9a9a;
}

label {
  margin-bottom: 5px;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

button {
  background: var(--primary-color-bright);
  border: 1px solid var(--primary-color-dark);
  color: var(--primary-color-dark);
  padding: 10px 10px;
  transition: all 0.3s linear;
}

button:hover {
  background: var(--primary-color-dark);
  border: 1px solid var(--primary-color-bright);
  color: var(--primary-color-bright);
  padding: 10px 30px;
  cursor: pointer;
}

ul {
  padding-left: 0px;
}

ul > li {
  list-style: none;
}

#root {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 150px 6fr;
  margin: 0 auto;
  max-width: 1100px;
  overflow-x: hidden;
}

/* Utility Classes */

.center {
  align-items: center;
}

.disable-select {
  user-select: none;
}

.disable-drag {
  pointer-events: none;
}

.clickable:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  height: 100vh;
  background: var(--primary-color-bright);
  color: var(--primary-color-dark);
}

.container > div {
  padding: 0 100px;
  margin-right: auto;
  margin-left: auto;
  width: 700px;
}

/* Navbar */

#navbar {
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: white;
  background-color: var(--primary-color-dark);
}

.logo {
  display: flex;
  align-items: center;
  color: var(--primary-color-bright);
  text-decoration: none;
  font-size: 1.4rem;
  justify-content: flex-end;
  margin-right: 20px;
}

#nav-menu {
  color: var(--primary-color-bright);
  display: flex;
  justify-content: flex-end;
}

#nav-menu > ul {
  text-align: right;
  display: inline-block;
  padding: 0;
  margin: 0;
}

#nav-menu > ul > li {
  margin-right: 15px;
  list-style: none;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#nav-menu > ul > li:last-child {
  margin-bottom: 0px;
}

#nav-menu > ul > li > a {
  color: var(--primary-color-bright);
  text-decoration: none;
  transition: all 0.5s;
}

#nav-menu > ul > li > a:visited {
  color: var(--primary-color-bright);
  text-decoration: none;
}

.nav-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--primary-color-bright);
  transition: margin-top 0.5s ease-out;
  animation-direction: reverse;
}

.active {
  font-size: 1.3rem;
  transition: all 0.5s;
}

.nav-button {
  display: none;
  font-size: 30px;
}

.nav-mobile {
  display: none;
  z-index: 2;
}

/* About */

#about {
  padding: 0px 100px;
  text-justify: justify;
}

#about > h1 {
  text-align: center;
  margin-bottom: 50px;
}

#about > img {
  float: left;
  height: 400px;
  margin-right: 20px;
}

#about > p {
  line-height: 1.7;
}

#running-text > div {
  display: inline;
}

/* Portfolio */
#portfolio > h1 {
  text-align: center;
  margin-bottom: 50px;
}

.portfolio-details {
  display: grid;
  grid-template-columns: 280px 420px;
  height: 400px;
}

.portfolio-showcase {
  position: relative;
  margin: 0 auto;
}

.showcase-navbar {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  width: 280px;
}

.showcase-navbar > img {
  height: 20px;
  padding: 15px 0px;
}

.portfolio-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  margin-left: 20px;
  line-height: 1.7;
  text-align: center;
}

.portfolio-description > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.stack-icons > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.stack-icons > ul > li {
  margin-right: 10px;
}

.stack-icons > img:last-child {
  margin-right: 0;
}

#line {
  animation: line 2s;
  display: none;
}

@keyframes line {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.portfolio-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.portfolio-nav > span {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-nav > button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
}
.portfolio-nav > button:hover {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
}

/* Portfolio: Logistics */

.logistics-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logistics-form > p {
  margin-right: auto;
  margin-left: 60px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.logistics-form > div {
  display: flex;
  margin-left: 30px;
}

.logistics-form > div > i {
  background: #efefef;
  font-size: 20px;
  border: #d1d1d1 solid 1px;
  border-right: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.logistics-form > div > span {
  margin-left: 27px;
  position: absolute;
  border-radius: 0px;
  border: #d1d1d1 solid 1px;
  border-left: 0px;
  width: 170px;
  height: 24px;
  background: #f9f9f9;
  margin-right: auto;
}

/* Contacts */

#contacts {
  display: grid;
  grid-template-columns: 300px 1fr;
}
#contacts > div > ul {
  margin: 0;
}

#contacts > div > h1 {
  margin-bottom: 65px;
}

#contacts > div > ul > li {
  margin-bottom: 15px;
}
#contacts > div > ul > li:last-child {
  margin-bottom: 0px;
}

#contacts > div > ul > li > i {
  font-size: 22px;
  margin-right: 4px;
}

#contacts > form > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#contacts > form > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#contacts > form > div > div {
  display: flex;
  flex-direction: column;
  width: 48%;
}

#contacts > form > button {
  width: 120px;
  margin-right: 15px;
}

@media (min-width: 769px) and (max-width: 1200px),
  (max-height: 620px) and (min-width: 769px) {
  body {
    background: var(--primary-color-bright);
  }

  #root {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 100%;
  }

  h1 {
    font-size: 1.8rem;
  }

  /* Utility */

  .container {
    display: block;
    margin-top: 50px;
  }

  .container > div {
    padding: 0px;
  }

  /* Navbar */
  #navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    height: 80px;
  }

  .logo {
    margin: 0px;
    padding: 0px;
  }

  #nav-menu {
    color: var(--primary-color-bright);
  }

  #nav-menu > ul {
    display: flex;
    flex-direction: row;
    height: 80px;
  }

  #nav-menu > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
  }

  #nav-menu > ul > li > a {
    color: var(--primary-color-bright);
    text-decoration: none;
  }

  #nav-menu > ul > li > a:visited {
    color: var(--primary-color-bright);
    text-decoration: none;
  }

  .nav-arrow {
    display: none;
  }
  .nav-mobile {
    display: none;
  }

  /* About */

  #about {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    padding: 0px;
  }

  #about > img {
    margin-right: 50px;
  }

  /* Portfolio */

  .portfolio-showcase {
    position: relative;
    margin: 0;
  }

  .portfolio-details {
    display: grid;
    grid-template-columns: 280px 420px;
    align-content: space-between;
    justify-content: space-around;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    grid-gap: 50px;
  }

  .portfolio-description {
    margin: 0;
  }

  .portfolio-nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }

  /* Contacts */

  #contacts {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  body {
    background: var(--primary-color-bright);
  }

  #root {
    display: flex;
    flex-direction: column;
  }

  /* Utility */

  .container {
    height: auto;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .container > div {
    width: 100%;
    padding: 0px;
  }

  /* About */

  #about {
    padding: 0px;
  }

  #about > img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 0 100%;
    margin-bottom: 20px;
  }

  #about > h1 {
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  /* Navbar */

  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    height: 40px;
    align-items: center;
  }

  .logo {
    margin: 0px;
    padding: 0px;
  }

  #nav-menu {
    display: none;
  }

  #nav-menu > ul {
    display: flex;
    flex-direction: row;
    height: 80px;
  }

  #nav-menu > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #nav-menu > ul > li > a {
    color: var(--primary-color-bright);
  }

  #nav-menu > ul > li > a.active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }

  #nav-menu > ul > li > a:visited {
    color: var(--primary-color-bright);
    text-decoration: none;
  }

  .nav-arrow {
    display: none;
  }

  .nav-button {
    display: initial;
  }

  .nav-mobile {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 130px;
    padding: 15px 0px;
    background-color: var(--primary-color-dark);
  }
  .nav-mobile > #nav-menu {
    display: block;
  }
  .nav-mobile > #nav-menu > ul {
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
  }
  .nav-mobile > #nav-menu > ul > li {
    color: var(--primary-color-bright);
    font-size: 1.1rem;
    margin-bottom: 30px;
    margin-right: 0px;
    text-align: center;
  }

  .nav-mobile > span {
    position: absolute;
    top: 15px;
    right: 30px;
  }

  /* Portfolio */

  #portfolio > h1 {
    margin-bottom: 20px;
  }

  .portfolio-details {
    display: flex;
    flex-direction: column;
    height: 750px;
  }

  .portfolio-description {
    margin: 0;
    height: 350px;
    width: 100%;
  }

  .portfolio-description > p {
    padding: 0px 30px;
  }

  .portfolio-nav {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    justify-content: center;
  }

  #logistics {
    margin-bottom: 100px;
  }
  .swiper {
    animation: swipe 0.7s;
    animation-iteration-count: 2;
    animation-delay: 1s;
    opacity: 0;
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }

  @keyframes swipe {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* Contacts */
  #contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #contacts > div > h1 {
    margin-bottom: 20px;
  }
  #contacts > div > ul {
    margin-bottom: 20px;
  }
  #contacts > form {
    display: flex;
    flex-direction: column;
  }
  #contacts > form > button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  #contacts > form > div:first-child {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  #contacts > form > div > div {
    width: 100%;
  }
  #contacts > form > div > div:first-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 950px) {
  #running-text {
    text-align: center;
  }
  #running-text > div {
    display: block;
  }
}
